.git
.gitignore
.github
.eslintrc.json
.eslintignore
.travis.yml
.env
.env.*
node_modules
.DS_Store
Thumbs.db
.vscode
.idea
*.swp
*.swo
coverage
*.log
npm-debug.log*
README.md
Dockerfile
.dockerignore
docker-compose*.yml
ansible
azure-pipelines.yml
